#play-button {
  width: 44px;
  height: 44px;
  border-radius: 22px;
}

#track-artwork {
  width: 100px ;
  height: 100px;
}

#track-wave-form-super-container {
  width: 100%;
  height: 50px;
  border-radius: 8px;
  position: relative;
}

#track-wave-form,
#progression-bar {
  position: absolute;
  top: 0;
  left: 0;
}

#progression-bar{
  width: 0%;
  height: 100%;
  background-color: black;
}

#track-wave-form {
  width: 100%;
  height:50px;
  z-index: 1;
}

#sound-player-content-table {
  height: 100%;
  width:100%;
}

#no-comment-label {
  vertical-align: bottom;
  height: 100%;
  padding-top: 8px;
  margin: 0px;
  height: 100%;
}

.sound-player-li {
    display: inline !important;
}

.inner-table-td {
  padding-left: 8px !important;
  height: 100%;
}
