html, body, .container-table {
    height: 100%;
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.a-black-primary {
  color: #2b2b2b;
}

.a-black-primary:hover {
  text-decoration: none;
  color: #000000;
}

.a-black-secondary {
  color: #777777;
}

.a-black-secondary:hover {
  text-decoration: none;
  color: #2b2b2b;
}

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

.container-table {
    display: table;
}

.vertical-center-row {
    display: table-cell;
    vertical-align: middle;
}

.prm-button-input-with-text {
  vertical-align: middle;
  margin-left: 10px;
}

.navBarContainer {
  margin: 15px 10px 15px 10px;
}

.seekBase {
  height: 30px;
  width: 90%;
  border: 1px solid #cccccc;
}

.seekLoad {
    height: 30px;
  width: 0;
  background-color: #E0EAF1;
}

#siteHeader {
  margin: 10px 10px 10px 10px;
  color: white;
}
