<div class="popover.content">
  <img src="{{track.user.avatar_url}}" class="media-object img-circle">
</div>
<script>
$(document).ready(function(){
  jQuery.ajax({
       url: "/templates/artist-popover.ejs"
  }).done(function( responseHtml ) {
    console.log(responseHtml);
    $('[data-toggle="popover"]').popover({
      content: responseHtml,
      html: true
    });
  });
});
</script>
