<div class="popover.title">
  <p>{{comment.user.username}}</p>
</div>
<div class="popover.content">
  <p>{{comment.body}}</p>
</div>
<script>
$(document).ready(function(){
  jQuery.ajax({
       url: "/templates/comment-popover.ejs"
  }).done(function( responseHtml ) {
    console.log(responseHtml);
    $('[data-toggle="popover"]').popover({
      content: responseHtml,
      html: true
    });
  });
});
</script>
