<div>
  <div class="page-header">
    <h1>Highlights</h1>
  </div>
  <ul style="list-style-type: none;padding-left:0px;">
    <li ng-repeat="track in tracks">
      <div ng-include="'/templates/sound-player-widget.ejs'" ng-controller="SoundPlayerCtrl"></div>
    </li>
    </br>
  </ul>
</div>
