<div class="panel panel-default">
  <div class="panel-body">
    <table style="width:100%;">
      <tr>
        <td style="width:100px;">
          <div class="track-artwork-div">
            <a href="/tracks/{{track.id}}">
              <img id="track_artwork" class="media-object img-rounded" src="{{track.artwork_url}}" alt="{{track.title}}">
            </a>
          </div>
        </td>
        <td>
          <table>
            <tr>
              <td class="inner-table-td" style="width:50px;">
                <button id="play-button" class="btn btn-default" ng-click="isPlaying ? pause():play(track)">
                  <span ng-class="isPlaying ? 'glyphicon glyphicon-pause' : 'glyphicon glyphicon-play'"/>
                </button>
              </td>
              <td class="inner-table-td">
                <div class="a-artist-small">
                  <a href="/users/{{track.user.id}}" style="text-decoration:none;">
                    <table>
                      <tr>
                        <td>
                          <img src="{{track.user.avatar_url}}" class="media-object img-circle" style="width:20px;">
                        </td>
                        <td style="vertical-align:middle;" class="inner-table-td">
                          <h6 style="margin-top:0px;margin-bottom:0px;" class="a-black-secondary">{{track.user.username}}</h6>
                        </td>
                      </tr>
                    </table>
                  </a>
                </div>
                <a href="/tracks/{{track.id}}" class="a-black-primary">
                  <h4 style="margin-top:5px;margin-bottom:5px">{{track.title}}</h4>
                </a>
              </td>
            </tr>
          </table>
          <table id="sound-player-content-table">
            <tr>
              <td colspan="3" class="inner-table-td">
                <div class="track-wave-form-super-container" id="track-wave-form-super-container">
                  <div class="track-wave-form-background"></div>
                  <div id="progression-bar-{{$index}}" class="progression-bar"></div>
                  <img class="track-wave-form" class="media-object track-wave-form" src="{{track.waveform_url}}" ng-click="onSeekClick($event)">
                </div>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </div>
</div>
