<div class="panel panel-default">
  <div class="panel-body">
    <table style="width:100%;">
      <tr>
        <td style="width:100px;">
          <a href="#">
            <img id="track_artwork" class="media-object" src="{{track.artwork_url}}" alt="{{track.title}}">
          </a>
        </td>
        <td>
          <table id="sound-player-content-table">
            <tr>
              <td class="inner-table-td" style="width:50px;">
                  <button id="play-button" class="btn btn-default" ng-click="isPlaying ? pause():play(track)">
                    <span ng-class="isPlaying ? 'glyphicon glyphicon-pause' : 'glyphicon glyphicon-play'"/>
                  </button>
              </td>
              <td class="inner-table-td">
                <h6 style="margin-top:5px;margin-bottom:0px">{{track.user.username}}</h6>
                <h4 style="margin-top:8px;margin-bottom:5px">{{track.title}}</h4>
              </td>
            </tr>
            <tr>
              <td colspan="2" class="inner-table-td">
                <div id="track-wave-form-super-container">
                  <div id="progression-bar"></div>
                  <!-- <div id="progression-bar" ng-class="isPlaying ? 'progression-bar-active':'progression-bar-paused'" style="animation-duration:{{progressDuration}}ms;"></div> -->
                  <img id="track-wave-form" class="media-object" src="{{track.waveform_url}}" ng-click="onSeekClick($event)">
                </div>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </div>
</div>
