<div class="panel panel-default">
  <div class="panel-body">
    <div class="large-sound-player-widget">
      <div id="large-sound-player-image-div">
        <img src="{{track.artwork_url}}" alt="{{track.title}}" class="media-object img-rounded" id="large-sound-player-track-artwork"/>
      </div>
    </div>
    <div id="artist-section">
      <img src="{{artist.avatar_url}}" alt="{{artist.username}}" class="media-object img-rounded"/>
    </div>
    <div class="comment-section">
    </div>
  </div>
</div>
