<html>
	<head>
		<title>sndhub</title>
		<link rel="stylesheet" href="/stylesheets/styles.css">

		<link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
		<script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>
    <script src="https://connect.soundcloud.com/sdk/sdk-3.0.0.js"></script>
    <script src="/javascripts/ui-bootstrap-tpls-0.9.0.min.js"></script>
		<script src="/javascripts/angularApp.js"></script>
    <script>
    SC.initialize({
      client_id: '3246c29fb8e8276c21a11fb2143ce568',
      redirect_uri: 'http://127.0.0.1/callback'
    });

    // initiate auth popup
    SC.connect().then(function() {
      return SC.get('/me');
    }).then(function(me) {
      alert('Hello, ' + me.username);
    });
    </script>
	</head>
	<body ng-app="sndhub" ng-controller="NavBarCtrl">
		<div>
			<nav class="navbar navbar-inverse navbar-fixed-top">
				<div class="container-fluid">
					<div class="navbar-header">
						<h1 id="siteHeader">sndhub</h1>
					</div>
					<div class="collapse navbar-collapse" id="rightNavBarContainer">
						<ul class="nav navbar-nav navbar-right">
			        <li><a href="#">profile</a></li>
							<li class="dropdown">
			          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">options <span class="caret"></span></a>
			          <ul class="dropdown-menu">
			            <li ng-repeat="option in optionsItems"><a href="#">{{option}}</a></li>
			          </ul>
			        </li>
			      </ul>
					</div>
				</div>
			</nav>
		</div>
		</br>
		</br>
		</br>
		</br>
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				{{status}}
			</div>
		</div>
	</body>
</html>
